.myServices,
.whatIDo {
  position: relative;
  letter-spacing: -0.03em;
}
.whatIDo {
  margin: 0;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
}
.myServices {
  font-weight: 600;
  background: linear-gradient(90deg, #4fc3f7, #484e53);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: pre-wrap;
  display: inline-block;
  min-width: 83px;
}
.servicesSubtitle {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-39xl);
  font-size: var(--font-size-sm);
}
.cardContainer,
.servicesContent,
.servicesTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cardContainer,
.servicesContent {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
}
.servicesContent {
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
}
.cardContainer {
  flex-wrap: wrap;
  gap: 28px;
}
.cards,
.servicesContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.cards {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-7xl);
}
.servicesContainer {
  width: 937px;
  align-items: flex-end;
  gap: var(--gap-61xl);
}
.projects,
.services {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.services {
  justify-content: center;
  padding: 0 var(--padding-2xl) var(--padding-106xl) var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-26xl);
  color: var(--color-darkslategray);
  font-family: var(--font-inter);
}
.projects {
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 79.7px 38px;
  min-height: 674px;
}
.viewAllContainer {
  height: 56px;
  width: 210px;
}
.viewAllButton {
  width: 1130px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.portfolioContent {
  width: 1144px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 79.8px;
  max-width: 100%;
}
.lightThemePortfolio,
.portfolio {
  display: flex;
  box-sizing: border-box;
}
.portfolio {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-106xl);
  max-width: 100%;
}
.lightThemePortfolio {
  width: 100%;
  position: relative;
  background-color: #e0e8f7;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-26xl);
  gap: var(--gap-76xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .portfolioContent {
    gap: var(--gap-21xl);
  }
  .portfolio {
    padding-bottom: var(--padding-62xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .whatIDo {
    font-size: var(--font-size-17xl);
  }
  .servicesContainer {
    gap: var(--gap-21xl);
  }
  .services {
    padding-bottom: var(--padding-62xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .servicesContainer {
    gap: var(--gap-xl);
  }
  .projects {
    gap: var(--gap-lgi);
  }
  .portfolioContent {
    gap: var(--gap-xl);
  }
  .portfolio {
    padding-bottom: var(--padding-34xl);
    box-sizing: border-box;
  }
  .lightThemePortfolio {
    gap: var(--gap-28xl);
  }
}
@media screen and (max-width: 450px) {
  .whatIDo {
    font-size: var(--font-size-8xl);
  }
  .services {
    padding-bottom: var(--padding-34xl);
    box-sizing: border-box;
  }
  .lightThemePortfolio {
    gap: var(--gap-5xl);
  }
}
/* For WebKit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded edges for the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4); /* Darker color on hover */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); /* Background color of the scrollbar track */
}

/* For Firefox */
html {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.1); /* Scrollbar thumb and track colors */
}

/* For Internet Explorer and Edge */
body {
  -ms-overflow-style: -ms-autohiding-scrollbar; /* Auto-hiding scrollbar */
}
