.cardImages {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background: linear-gradient(121.9deg, rgba(28, 28, 28, 0.5), #050505);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  mix-blend-mode: linear-dodge;
}
.cardContentIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.cardContentContainers {
  border-radius: var(--br-4xs);
  background-color: var(--color-ghostwhite);
  overflow: scroll;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  z-index: 1;
}
.dataAnalytics {
  width: 237px;
  position: relative;
  line-height: 120%;
  font-weight: 600;
  display: inline-block;
}
.fromDataInception {
  margin-block-start: 0;
  margin-block-end: 20px;
}
.fromDataInceptionContainer {
  width: 243px;
  height: 121px;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 150%;
  color: var(--color-gainsboro-100);
  display: inline-block;
  flex-shrink: 0;
}
.cardColumns,
.cardDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cardDetails {
  align-self: stretch;
  gap: var(--gap-lg);
  z-index: 1;
  overflow-x: hidden;
}
.cardColumns {
  width: 289px;
  padding: var(--padding-10xl) var(--padding-xs) var(--padding-6xl)
    var(--padding-7xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-lgi);
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-white);
  font-family: var(--font-inter);
}
