
.whatIDoContentWrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-10xl) var(--padding-106xl) var(--padding-xl);
    box-sizing: border-box;
    text-align: left;
    font-size: var(--font-size-26xl);
    color: var(--color-white);
    font-family: var(--font-inter);
  }
  
  .whatIDoContent {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    max-width: 100%;
  }
  
  .whatIDoHeader {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 30px 0;
  }
  
  .whatIDo {
    position: relative;
    margin: 0;
    font-size: inherit;
    font-weight: 800;
    font-family: inherit;
    letter-spacing: -0.03em;
  }
  
  .exploreServicesWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-39xl);
    font-size: var(--font-size-sm);
  }
  
  .exploreServices {
    font-weight: 600;
    background: linear-gradient(90deg, #4fc3f7, #f5f5f5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: pre-wrap;
    display: inline-block;
    min-width: 83px;
  }
  
  .serviceCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* Adjust the gap as needed */
    max-width: 100%;
    align-self: stretch;
    gap: var(--gap-7xl);
  }
  
  .cardContainer {
    /* display: flex; */
    /* flex-wrap: wrap; */
    gap: var(--gap-xl);
    /* align-self: stretch;
    flex-direction: row;
    justify-content: center; */
    display: contents;
  }
  
  @media screen and (max-width: 1050px) {
    .whatIDo {
      font-size: var(--font-size-17xl);
    }
    .serviceCards {
      gap: var(--gap-21xl);
    }
    .whatIDoContentWrapper {
      padding-bottom: var(--padding-62xl);
      box-sizing: border-box;
    }
  }
  
  @media screen and (max-width: 768px) {
    .serviceCards {
      display: flex;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
      padding-bottom: 10px; /* Optional padding for better touch scroll experience */
    }
    .cardContainer {
      display: flex;
      flex: none;
      width: calc(100% / 1.5); /* Adjust the width as needed */
    }
  }
  
  @media screen and (max-width: 450px) {
    .whatIDo {
      font-size: var(--font-size-8xl);
    }
    .serviceCards {
      gap: var(--gap-xl);
    }
    .whatIDoContentWrapper {
      padding-bottom: var(--padding-34xl);
      box-sizing: border-box;
    }
  }


  /* For WebKit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 1px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: rgba(211, 32, 32, 0.2); /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded edges for the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(219, 14, 14, 0.4); /* Darker color on hover */
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); /* Background color of the scrollbar track */
}

/* For Firefox */
html {
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: rgba(209, 201, 201, 0.2) rgba(232, 232, 232, 0.1); /* Scrollbar thumb and track colors */
}

/* For Internet Explorer and Edge */
body {
    -ms-overflow-style: -ms-autohiding-scrollbar; /* Auto-hiding scrollbar */
}
